/*
  Extend .success and .warning classes with data in .info
  Looks like: .info, .success, .warning {}
*/

.info {
	font-size: 12px;
}

.success {
	@extend .info;
	color: #00FF00;
}

.warning {
	@extend .info;
	color: #FF0000;
}
